# /etc/fstab: static file system information.
#
# Use 'vol_id --uuid' to print the universally unique identifier for a
# device; this may be used with UUID= as a more robust way to name devices
# that works even if disks are added and removed. See fstab(5).
#
# <file system> <mount point>   <type>      <options>       <dump>  <pass>
proc            /proc           proc        defaults        0       0    #обязательно
/dev/sda1       /boot           ext2        defaults        0       0
/dev/sda2       /               ext4        defaults        0       1
/dev/sda3       /home           ext4        defaults        0       0
/dev/sda4       none            swap        sw              0       0

